-Xms512m
-Xmx2048m
-XX:MetaspaceSize=256m
-XX:MaxMetaspaceSize=512m
-XX:+UseG1GC
-XX:+UseStringDeduplication
-XX:G1HeapRegionSize=16m
-XX:+OptimizeStringConcat
-XX:+UseCompressedOops
-XX:+UseCompressedClassPointers
-Dfile.encoding=UTF-8
-Duser.timezone=UTC
-Dmaven.artifact.threads=8
-Dmaven.wagon.http.pool=false
-Dmaven.wagon.httpconnectionManager.ttlSeconds=120